extends sidebartest

block content
    h1.text-center #{title}

    div(style='margin-left:20px;margin-top:20px')



        table.table.table-sm.table-dark
            tbody
                dl
                each folder in folder_list
                    dt
                        - var folder_href = '/catalog/assetfind?id=' + folder.idfakedirectory
                        tr
                            th(scope='row')
                                span.glyphicon.glyphicon-folder-close
                                a(href= folder_href)   #{folder.name}
                dl
                each asset in asset_list
                    dt
                        - var asset_href = '/catalog/asset?id=' + asset.id
                        tr
                            th(scope='row')
                                span.glyphicon.glyphicon-text-background
                                a(href= asset_href)   #{asset.name}
                th(scope='row')