doctype html
html(lang='en')
    head
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='')
        meta(name='author', content='')
        title Lithodomos Asset Management System
        // Bootstrap core CSS
        link(href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css', rel='stylesheet')
        // Custom styles for this template
        link(rel='stylesheet', href='/stylesheets/style.css')
        script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js')
        script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
        script(src='/javascripts/typeahead.min.js')
        script(src='/javascripts/bootstrap/twitter-bootstrap-v2/docs/assets/js/bootstrap-typeahead.js')
    body
        script(type='text/javascript').
            var gulp = require('gulp');
            var browserSync = require('browser-sync').create();
            var pkg = require('./package.json');
            // Copy vendor files from /node_modules into /vendor
            // NOTE: requires `npm install` before running!
            gulp.task('copy', function() {
                gulp.src([
                    'node_modules/bootstrap/dist/**/*',
                    '!**/npm.js',
                    '!**/bootstrap-theme.*',
                    '!**/*.map'
                ])
                    .pipe(gulp.dest('vendor/bootstrap'))
                gulp.src(['node_modules/jquery/dist/jquery.js', 'node_modules/jquery/dist/jquery.min.js'])
                    .pipe(gulp.dest('vendor/jquery'))
            })
            // Default task
            gulp.task('default', ['copy']);
            // Configure the browserSync task
            gulp.task('browserSync', function() {
                browserSync.init({
                    server: {
                        baseDir: ''
                    },
                })
            })
            // Dev task with browserSync
            gulp.task('dev', ['browserSync'], function() {
                // Reloads the browser whenever HTML or CSS files change
                gulp.watch('css/*.css', browserSync.reload);
                gulp.watch('*.html', browserSync.reload);
            });
        #wrapper.toggled

            // Sidebar
            #sidebar-wrapper
                ul.sidebar-nav
                    li.sidebar-brand
                        a(href='/catalog') Home
                    li
                        a(href='/catalog/assetsearch') Asset Search
                    li
                        a(href='/catalog/assetcreate') Create a new Asset
                    li
                        a(href='/catalog/assetalter') Alter an Asset
                    li
                        a(href='/catalog/assetdelete') Delete an Asset
                    li
                        hr
                    li
                        a(href='/catalog/sidebartest') Create new author
                    li
                        a(href='/catalog/genre/create') Create new genre
                    li
                        a(href='/catalog/book/create') Create new book
                    li
                        a(href='/catalog/bookinstance/create') Create new book instance (copy)
            // /#sidebar-wrapper
            // Page Content
            #page-content-wrapper
                .container-fluid
                    //h1 Simple Sidebar
                    //p
                    //    | This template has a responsive menu toggling system. The menu will appear collapsed on smaller screens, and will appear non-collapsed on larger screens. When toggled using the button below, the menu will appear/disappear. On small screens, the page content will be pushed off canvas.
                    //p
                    //    | Make sure to keep all page content within the
                    //    code #page-content-wrapper
                    //    | .
                    a#menu-toggle.btn.btn-secondary(href='#menu-toggle') Toggle Menu
                    block content
            // /#page-content-wrapper
        // /#wrapper
        // Bootstrap core JavaScript

    // Menu Toggle Script
    script.
        $("#menu-toggle").click(function(e) {
            e.preventDefault();
            $("#wrapper").toggleClass("toggled");
        });
