extends sidebartest

block content
    .well
        input#search.span3(type='text', data-provide='typeahead', data-items='4')

    script.
        var subjects = ['PHP', 'MySQL', 'SQL', 'PostgreSQL', 'HTML', 'CSS', 'HTML5', 'CSS3', 'JSON'];
        $('#search').typeahead({source: subjects})
